<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!-- NewWarehouse DB: Live server (MIS007)-->
    <add name="NewWarehouse" connectionString="j/eM2LNAAFlQh3ensMdb7H1bersXc1GeT7tjvBQc+nqLgaHoLOt9LWeYCs75VvX3poO359dXOF/NqxWrnW4M6+q0nS8LsgeMv+OMMJu4H5FMmGPcEtXe7MGBfHLYgj4bCTdePl5wa3s=" />
    <!--Live-->
    <add name="SCM21" connectionString="+qfN4PSD3H9Qh3ensMdb7Dm/yesx1f8E+E6ugAg6bDjAX2JN6VB7poIPe+W0q6Mua7Mx2DI7X3RiqajjByEtQOWhmr2eRcpwmj7fM8xusqOlEeKRmDaVpJmU0Rkut3HSjEnvpez3d9nYf0dfj0K2v0jiGTEE0aBxEPk39JFN+/g=" />
    <!--Test-->
    <!--<add name="SCM21" connectionString="+qfN4PSD3H+NDlalzNFpaBKFxWnzzU0h+mDs3FcJ203Qd0Q3lTagU8Wdll7IMo/5VGrpUD+hk/usZ8NCw+VxHQQveR/8iFeh1IE7RFYUNhfM7/sUa+/4qA0sH4AiFMBUwOWZPxSU0q2LwCdKiG8iaQQdWzYFOhzD34qIr20VTzV4KUnhCal+kg=="/>-->
    <!-- TEST 
    <add name="NewWarehouse" connectionString="j/eM2LNAAFmzRxQeopMe2mQt6BlJkEU9Xyiy9KRF2+YltUnbg/3pSpxI2WRkrpQ+uSVD1S7j3gsX3dqIfEtVzuDKJIFwldgPMNgT1uDVei9YgpZAjWMAQXKKfC3F5WiqAo7dGw04VSVYqxa67+lYskOl3v+3ThQ3" />
    -->
  </connectionStrings>
  <appSettings>
    <add key="SecurityKey" value="forever21nw" />
    <add key="mode" value="production" />
    <!--<add key="mode" value="test"/>-->
    <add key="AccountCountry" value="NW" />
    <add key="PrinterName" value="\\127.0.0.1\zt230" />
    <add key="BarcodeKind" value="N" />
    <!--Y : Barcode 128  N : Barcode 39-->
    <add key="Live_FedExShipUrl" value="https://ws.fedex.com:443/web-services/ship" />
    <add key="Test_FedExShipUrl" value="https://wsbeta.fedex.com:443/web-services/ship" />
    <add key="Live_FedExAddressUrl" value="https://ws.fedex.com:443/web-services/addressvalidation" />
    <add key="Test_FedExAddressUrl" value="https://wsbeta.fedex.com:443/web-services/addressvalidation" />
    <add key="Live_FedExCloseUrl" value="https://ws.fedex.com:443/web-services/close" />
    <add key="Test_FedExCloseUrl" value="https://wsbeta.fedex.com:443/web-services/close" />
    <add key="OnTrac_Live" value="https://www.shipontrac.net/OnTracWebServices/OnTracServices.svc/V2/{account}/shipments?pw={password}" />
    <add key="OnTrac_Test" value="https://www.shipontrac.net/OnTracTestWebServices/OnTracServices.svc/V2/{account}/shipments?pw={password}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>