<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FedExWebServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FedExWebServiceClient.Properties.Settings>
            <setting name="FedExWebServiceClient_ShipServiceWebReference_ShipService" serializeAs="String">
                <value>https://wsbeta.fedex.com:443/web-services/ship</value>
            </setting>
            <setting name="FedExWebServiceClient_AddressValidationServiceWebReference_AddressValidationService" serializeAs="String">
                <value>https://wsbeta.fedex.com:443/web-services/addressvalidation</value>
            </setting>
            <setting name="FedExWebServiceClient_CloseWebReference_CloseService" serializeAs="String">
                <value>https://wsbeta.fedex.com:443/web-services/close</value>
            </setting>
        </FedExWebServiceClient.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
